<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BDO_Localisation_AddOn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <BDO_Localisation_AddOn.Properties.Settings>
            <setting name="BDO_Localisation_AddOn_WayBillService_HTTP_NBGCurrencyService"
                serializeAs="String">
                <value>http://nbg.gov.ge/currency_service.php</value>
            </setting>
            <setting name="BDO_Localisation_AddOn_WayBillService_HTTP_WayBills"
                serializeAs="String">
                <value>http://services.rs.ge/WayBillService/WayBillService.asmx</value>
            </setting>
            <setting name="BDO_Localisation_AddOn_TaxService_HTTP_Service"
                serializeAs="String">
                <value>http://services.rs.ge/taxservice/taxservice.asmx</value>
            </setting>
            <setting name="BDO_Localisation_AddOn_WayBillService_HTTPS_WayBills"
                serializeAs="String">
                <value>https://services.rs.ge/WayBillService/WayBillService.asmx</value>
            </setting>
            <setting name="BDO_Localisation_AddOn_RSInvoiceService_HTTP_NtosService"
                serializeAs="String">
                <value>http://www.revenue.mof.ge/ntosservice/ntosservice.asmx</value>
            </setting>
            <setting name="BDO_Localisation_AddOn_RSInvoiceService_HTTPS_NtosService"
                serializeAs="String">
                <value>https://www.revenue.mof.ge/ntosservice/ntosservice.asmx</value>
            </setting>
            <setting name="BDO_Localisation_AddOn_ge_ibs_update_ПроверкаОбновленииКонфигурации"
                serializeAs="String">
                <value>http://update.ibs.ge/UpdateConfigs/ws/UpdateConfig.1cws</value>
            </setting>
        </BDO_Localisation_AddOn.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
